<header class="header">
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li><img class="header__image" src="assets/images/logo.png" alt=""></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li><a href="#">Home</a></li>
            </ul>
        </div>
    </div>

    <div class="top-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle="example-menu"></button>
    </div>
</header>