<ul class="tabs" data-tabs id="example-tabs">
    <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Tab 1</a></li>
    <li class="tabs-title"><a href="#panel2">Tab 2</a></li>
    <li class="tabs-title"><a href="#panel3">Tab 3</a></li>
    <li class="tabs-title"><a href="#panel4">Tab 4</a></li>
    <li class="tabs-title"><a href="#panel5">Tab 5</a></li>
    <li class="tabs-title"><a href="#panel6">Tab 6</a></li>
</ul>

<div class="tabs-content" data-tabs-content="example-tabs">
    <div class="tabs-panel is-active" id="panel1">
        <p>One</p>
        <p>Check me out! I'm a super cool Tab panel with text content!</p>
    </div>
    <div class="tabs-panel" id="panel2">
        <p>Two</p>
        <img class="thumbnail" src="//foundation.zurb.com/sites/docs/assets/img/generic/rectangle-7.jpg">
    </div>
    <div class="tabs-panel" id="panel3">
        <p>Three</p>
        <p>Check me out! I'm a super cool Tab panel with text content!</p>
    </div>
    <div class="tabs-panel" id="panel4">
        <p>Four</p>
        <img class="thumbnail" src="//foundation.zurb.com/sites/docs/assets/img/generic/rectangle-2.jpg">
    </div>
    <div class="tabs-panel" id="panel5">
        <p>Five</p>
        <p>Check me out! I'm a super cool Tab panel with text content!</p>
    </div>
    <div class="tabs-panel image-container" id="panel6">
        <div class="background blur" >
            <image src="//foundation.zurb.com/sites/docs/assets/img/generic/rectangle-8.jpg"></image>
        </div>
        <div class="image grid-container row">
            <div class="grid-x columns small-12 medium-12 large-12">
                <div class="small-12 medium-9 large-9">
                    <p class="title">Six</p>
                    <img class="thumbnail" src="//foundation.zurb.com/sites/docs/assets/img/generic/rectangle-2.jpg">
                </div>
                <div class="small-12 medium-3 large-3">
                    <p class="title">Description</p>
                    <span class="description">"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident,
                        sunt in culpa qui officia deserunt mollit anim id est laborum."</span>
                </div>
            </div>
        </div>
    </div>
</div>