<div id="contactForm" class="grid-x small-8 medium-8 large-8 columns">
    <form id="myForm" class="form small-8 medium-8 large-8" method="post" data-abide>

        <h5>Contact Us</h5>
        <label>Name</label>
        <input type="text" placeholder="Full Name" required>

        <label>Email</label>
        <input type="email" placeholder="username@address.com" required>

        <label>Web Address</label>
        <input type="url" placeholder="http://www.url.com">

        <label>Your Message</label>
        <textarea placeholder="Enter your message here" required></textarea>

        <input type="submit" class="nice blue radius button" value="Send Message"></button></a>
    </form>
</div>