.footer {
    background-color: #e6e6e6;
    color: #fff;
    width: 100%;
    height: auto;
    bottom: 0;
    text-align: center;
    padding: 0;
    margin: 0;
}

.footer__item {
    margin: 0 4%;
    padding: 2rem 0;
}
.footer__item-logo {

}

@media screen and (min-width: 40em) {
    .footer__item-logo {
        width: 25%;
    }
}
